html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    min-height: 400px;
    font-family:'Gruppo', cursive;
}
body {
    display: none;
    background: url(images/river_blur.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
*:hover {
    cursor: default;
}
input:hover {
    cursor: text;
}
a:hover {
    cursor: pointer !important;
}
a {
    outline: 0;
}
.zoom {
    font-size: 160%;
}
/*----------Sections------------*/
 section {
    width: 100%;
    min-height: 100%;
    margin: 0;
}
h1 {
    padding: 30px;
    font-size: 2em;
}
/*--------top bar--------*/
 .top-bar {
    background: none !important;
}
.top-bar-section {
    width: 100%;
    margin: 0 !important;
}
.top-bar-section ul li a {
    background: #111;
    text-align: center !important;
    color: white !important;
    font-family:'Gruppo', cursive !important;
}
/*-----------Home---------*/
 #signinHome {
    display: none;
}
#user a {
    font-size: 1.7em;
    color: #666666;
    text-decoration: none;
}
#user a:hover {
    text-decoration: underline;
    color: #666666;
}
#user .left {
    float: left;
}
#user #signOut {
    float: right;
    margin-right: 1em;
}
#welcomeWrap {
    position:absolute;
    left:50%;
    top:50%;
    margin: -5.5em 0 0 -16.5em;
}
#welcomeLogo {
    color: #666;
    font-size: 5.9em;
    height: 1em;
}
#welcomeUser {
    color: #666666;
    font-size: 1.8em;
    margin-left: .6em;
    float: left;
}
#options {
    margin-left: 8em;
    margin-top: 3em;
}
#options > h4 a {
    float: left;
    color: #666666;
    font-size: 1.1em;
    text-decoration: none;
    margin-right: 2.3em;
    ;
}
#options > h4 a:hover {
    text-decoration: underline;
}
/*-------------Reponsive-------------*/
 @media only screen and (max-width:900px) {
    .zoom {
        font-size: 150%;
    }
    #ratewrap {
        margin: auto;
        width: 90%;
    }
    .updateRating {
        height: 1.4em;
    }
    h1 {
        text-align: center;
    }
    .editWrap {
        margin: .4em;
        margin-bottom: 2em;
        font-size: 1.3em;
    }
}
@media only screen and (max-width: 450px) {
    .rateThisDay, .rateThis, .editWrap, .editTitle, .metricsWrap, .metricsSectionTitle {
        font-size: 1.6em;
        4
    }
    .removeWrap {
        font-size: 1.2em;
    }
    .removeOption {
        font-size: .7em;
    }
}
/*-----------Sign-In Page-------------*/
 #signinBodyWrap {
    width: 90%;
    margin: auto;
    padding-top: 5em;
}
.logo {
    margin-top: 5px;
    width: 200px;
    height: 50px;
}
.row h1 {
    text-align: center;
    font-size: 1.6em;
    margin: 0;
    color: #666;
    font-family:'Gruppo', cursive;
}
#signin {
    display: none;
    font-size: 2rem;
    margin-bottom: -20px;
}
#signup {
    font-size: 2rem;
    margin-bottom: -20px;
    margin-top: -20px;
    color: white;
}
.topInput input {
    margin-top: 15px;
    border-radius: 5px;
}
#signupWrap input {
    border-radius: 5px;
}
#signupWrap input:focus, #signupTopWrap input:focus {
    color: #000;
}
#signupWrap .submit:hover, #signupTopWrap .submit:hover {
    background: #58A3D1;
    cursor: pointer;
}
#signupTopWrap {
    background: #fff;
    margin: 0;
}
#signupWrap {
    background: rgba(0, 0, 0, .7);
    border-radius: 10px;
    padding: 10px;
    margin-top: 3rem;
}
.submit {
    width: 100%;
    background: #666;
    color: white;
    border: none;
    border-radius: 5px;
    height: 3em;
}
#signinTitle {
    font-size: 8rem;
    text-align: center;
    color: #666;
}
#terms {
    text-align: center;
    margin-top: -10px;
    padding: 10px;
}
#terms a {
    color: #58A3D1;
}
#signupPointsWrap {
    margin-top: 3rem;
    background: rgba(255, 255, 255, .6);
    border-radius: 10px;
    padding: 15px;
}
.signupPointsTitle {
    font-size: 1.5em;
    font-family:'Gruppo', cursive;
    color: #444;
}
.signupPoints {
    font-size: 1.2em;
    font-family:'Gruppo', cursive;
    color: #666666;
}
#learnMore h2 {
    width: 12em;
    margin-top: 1rem;
    background: rgba(255, 255, 255, .6);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    color: #666666;
}
#learnMore h2:hover {
    cursor: pointer;
    box-shadow: 1px 1px 5px 0px #444;
}

/*****About section*****/

#footer {
    min-height: 50em;
    margin-top: 10em;
    background: #333;
    color: white;
}
#footer h1 {
    color: white;
}
#aboutBodyWrap {
    width: 90%;
    margin: auto;
    color: white;
}
.about {
    margin-top: 50px;
}
.about h2{
    margin-bottom: 1em;
    color: white;
} 
.about h1 {
    text-align: left;
    padding: 0;
    color: #aaa !important;
}
.quote { 
    margin-top: 10px !important;
    margin-bottom: 20px !important;
    border-radius: 5px;
    border: 1px solid #444;
    padding: 10px !important;
    font-size: 1.6em !important;

}
/*****Signin Break Point********/
 @media only screen and (max-width: 64em) {
    .logo {
        display: none;
    }
    #signupWrap {
        padding: 35px;
    }
    #signupTopWrap, #signupWrap {
        margin: 0;
        border-radius: 0;
        padding-top: 0;
    }
    #signupTopWrap {
        background: #fff;
        padding-bottom: 40px;
    }
    #signupWrap {
        background: #333;
        padding-top: 0;
    }
    #signupWrap h1 {
        color: white;
    }
    #signup, #signin {
        color: #666;
        display: block;
    }
    .topInput input {
        margin-top: 0px;
    }
    #footer {
        margin-top: 3em;
    }
    #signinBodyWrap {
        padding-top: 0;
        width: auto;
    }
    #learnMore h2 {
        width: 100%;
    }
    #signinHome {
        display: block;
        background: #333;
    }
    .top-bar {
        display: none;
    }
}
@media only screen and (max-width: 40em) {
    body {
        background: white;
    }
    #signup, #signin {
        font-size: 1.3em;
    }
    #learnMore h2 {
        background: #aaa;
        color: white;
    }
    .signupPointsTitle {
        font-size: 1.1em;
    }
    .signupPoints {
        font-size: .9em;
    }
    .top-bar {
        display: block;
    }
}

/****Foundation override*****/
 .row {
    max-width: 300em;
}
/*******Page Load Spin**********/
 .loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('images/loader.gif') 50% 50% no-repeat rgb(249, 249, 249);
}