html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    min-height: 400px;
    font-family: 'Gruppo', cursive;

}

body {
    display: none;
    height: 100%; 
    width: 100%;
    background: url(images/river_blur.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
a {
    outline: 0;
}
.zoom {
    font-size: 160%;
}

/*----------Sections------------*/
section {
    width: 100%;
    min-height: 100%;
    margin: 0;
}
h1 {
    padding: 30px;
    font-size: 2em;
}
/*-----------Home---------*/

#user {
    background: rgba(0, 0, 0, 0);
    width: 100%;
    z-index: 20;
    height: 2.6em;  
    position: fixed;
    opacity: 1;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
    transition: all .8s ease;
}
#user a {
    font-size: 1.7em;
    color: #666666;
    text-decoration: none;
}
#user a:hover{
    text-decoration: underline;
    color: #666666;
}
#user .left {
    float: left;
}
#user #signOut {
    float: right;
    margin-right: 1em;
}

#welcomeWrap {
    position:absolute;
    left:50%;
    top:50%;
    margin: -5.5em 0 0 -16.5em;
}
#welcomeLogo {
    color: #666;
    font-size: 5.9em;
    height: 1em;
}
#welcomeUser {
    color: #666666;
    font-size: 1.8em;
    margin-left: .6em;
    float: left;
}
#options {
    margin-left: 8em;
    margin-top: 3em;
}
#options > h4 a{
    float: left;
    color: #666666;
    font-size: 1.1em;
    text-decoration: none;
    margin-right: 2.3em;;
}
#options > h4 a:hover {
    text-decoration: underline;
}

/*------------Today's rating------------*/
#today {
    background: #fff;
    color: #444444;
    padding-bottom: 1em;
}
#ratewrap {
    width: auto;
    margin-right: 4em;
    margin-left: 4em;

}
#ratingTitle {
    color: #444;
    font-weight: bold;
    font-size: .8em;
    margin-left: 1px;
    margin-bottom: 5px;
}
.rateThisWrap h3 {
    line-height: 2em !important;
    position: absolute !important;
    margin-left:1em !important;
}
.rateThis {
    font-size: 1em;
    position: relative;
    border: 1px dotted #bbb;
    margin-bottom: 20px;
    line-height: 20px;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
    transition: all .8s ease;
    border-radius: 5px;
    transition-delay: .3s;
}
.rateThis:hover {
    border: 1px solid #444;
    box-shadow: 1px 1px 5px 0px #444;
}
.rateThisDay {
    font-size: 1em;
    position: relative;
    border: 3px dotted #222;
    margin-bottom: 20px;
    line-height: 20px;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
    transition: all .8s ease;
    border-radius: 5px;
    transition-delay: .3s;
    box-shadow: 1px 1px 5px 0px #444;
}
.rateThisDay:hover {
    border: 1px solid #444;
    box-shadow: 1px 1px 5px 0px #444;
}
.rateThisDay h5 {
    font-size: .6em;
    text-align: center;
}
.rateThisWrap{
    padding: 2em;
    position: relative;
}
textarea:focus, input:focus{
    outline: 0;
    border: 1px dotted #666;
    background: #444444;
    color: #fff;
}
.rateThis select, .rateThisDay select {
    background: #fff;
    display: inline;
    border: 1px solid #ddd;
    font-size: 1em;
    height: 5em;
    margin-top: .2em;

}
.rateThis h3, .rateThisDay h3 {
    margin-top: 5px;
    display: inline;
    margin-left: 1.3em;
    font-size: 1.2em;
    font-family: 'Simonetta', cursive;
    line-height: 1.6em;
}

#submit {
    width: 100%;
    background: #444444;
    color: #fff;
    font-size: 1.3em;
    height: 1.5em;
    border-radius: 5px;
    border: none;
    margin-bottom: 40px;
    cursor: pointer;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
#submit:hover {
    background: #01FF70;
}
.rateThis:hover .updateRating, .rateThisDay:hover .updateRating {
    display: block;
    height: 1.4em;
}
.updateRating {
    height: 0em;
    width: 100%;
    background: #999;
    text-align: center;
    border-radius: 0;
    cursor: pointer;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
    transition: all .8s ease;
    transition-delay: .3s;
    overflow: hidden;
    color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    line-height: 1.4em;
}
.updateRating:hover {
    background: #56E895;
    transition-delay: 0s;
}
/*----------------History-----------*/
#history {
    background: #444444;
    color: #fff;
}


/*---------------Goals------------*/
#goals {
    background: #444;
    color: #fff;
    padding-bottom: 2em;
}
.editWrap {
    width: auto;
    margin-right: 4em;
    margin-left: 4em;
    margin-bottom: 2em;
    border: 1px #888 dotted;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all 8.s ease;
    transition: all .8s ease;
}
.editWrap:hover {
    border: 1px #fff solid;
    box-shadow: 1px 1px 5px 0px #fff;
}
.editTitle {
    color: #444;
    text-align: center;
    line-height: 1.5em;
    height: 1.5em;
    font-size: 1em;
    margin-bottom: 1em;
    background: #fff;
    width: 100%;
    margin: 0;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all 8.s ease;
    transition: all .8s ease;
}
.editWrap:hover .editTitle {
    border: 1px #fff solid;
    box-shadow: 1px 1px 5px 0px #fff;
}

#addGoal {
    background: #fff;
    color: #444;
    height: 1.8em;
    font-size: 1em;
    line-height: 1em;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .s ease;
    transition: all .8s ease;
}
#addGoal:hover {
    background: #56E895;
    color: #fff;
}
input#addGoalText::-webkit-input-placeholder {
    color: black;
}
input#addGoalText::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: black;
}
input#addGoalText::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: black;
}
input#addGoalText::-ms-input-placeholder { /* Internet Explorer 10+ */
    color: black;
}
#addGoalText {
    width: 100%;
    margin: auto;
    margin-top: .5em;
    height: 1.3em;
    line-height: 1.3em;
    font-size: .8em;
    resize: none;
    border: 1px solid #cccccc;
    background: #eeeeee;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
    transition: all .8s ease;
    font-size: 1em;
    overflow: hidden;
    color: black;
}
#addGoalText:focus {
    background: #fff;
    color: black;
}
.removeWrap {
    font-size: .8em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: .2em;
    margin: 1em;
    margin-top: .5em;
}

.delete {
    width: 9em;
    font-size: .7em; 
    text-decoration: none;
    cursor: pointer;
    transition: all .8s ease;
}
.delete:hover {
    text-decoration: underline;
}
.editCat {
    margin-left: 1.6em;
    margin-top: 3em;
    font-size: 1.2em;
    text-decoration: underline;
}
#success {
    color:  #56E895;
    text-align: center;
    opacity: 0;
    cursor: default;
}
#error {
    color: red;
    text-align: center;
    opacity: 0;
    cursor: default;
}
.deleteWarning {
    display: none;
    font-size: .7em;
}
.yes {
    background: none;
    color: red;
    border: none;
    font-size: .8em;
    cursor: pointer;
}
.yes:hover {
    text-decoration: underline;
}
.no {
    color: #56E895;
    cursor: pointer;
}
.no:hover {
    text-decoration: underline;
}
/*--------------Metrics------------*/
#metrics {
    background: #444;
    color: #fff;
    padding-bottom: 2em;
}
.metricsSectionWrap {
    margin-left: 4em;
    margin-right: 4em;
    border: 1px dotted #fff;
    padding-bottom: 2em;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
    transition: all .8s ease;
}
.metricsSectionWrap:hover {
    border: 1px solid #fff;    
    box-shadow: 1px 1px 5px 0px #fff;
}
.metricsGo {
    text-align: center;
    color: #fff;
    font-size: .5em;
    margin-top: -2em;
}
.metricsGo a { 
    color: #fff;
    text-decoration: none;
    margin-left: .5em;
    margin-right: .5em;
}
.metricsGo a:hover {
    text-decoration: underline;
}
.metricsSectionTitle{
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 1em;
    background: #fff;
    color: #444;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
    transition: all .8s ease;
}
.metricsSectionWrap:hover  .metricsSectionTitle {
    box-shadow: 1px 1px 5px 0px #fff;
}
.metricsWrap {
    width: auto;
    margin-left: 2em;
    margin-right: 2em;
}
.metricsRateWrap {
    margin-top: .3em;
}
.metricsPreTitle {
    text-align: center;
    font-size: 1.3em;
    display: block;
    color: #fff;
}
.metricsTitle {
    text-align: center;
    margin-top: 1em;
    margin-bottom: .7em;
    font-size: 1.1em;
    display: block;
    color: #aaa;
}
.metricsTitleSub {
    text-align: center;
    margin-top: .4em;
    font-size: .6em;
    display: block;
    color: #ddd;
}
.metricsGrade {
    font-size: 1em;
    display: inline;
    margin-left: .2em;
}
.break {
    height: 1.5em;
}
#allTimeWrap, #monthWrap{
    margin-top: 2em;
}
select {
    color: #56E895;
}
select option {
    color: #444;
}
.selected, .selected:hover {
    display: none;
}
timeDescriptWrap {
    text-align: center;
    width: 100%;
}
.timeDescript {
    margin-top: .5em;
    margin-bottom: 2em;
    font-size: .4em;
    text-align: center; 
}
/*-------------Reponsive-------------*/
@media only screen and (max-width:60em){
    #home {
	height: 100%; 
	width: 100%;
	background: url(images/river_blur.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    }
}
@media only screen and (max-width:900px){
    .zoom {
	font-size: 150%;
    }
    #ratewrap {
	margin: auto;
	width: 90%;
    }
    
    .updateRating {
	height: 1.4em;
    }
    h1 {
	text-align: center;
    }
    .editWrap {
	margin: .4em;
	margin-bottom: 2em;
	font-size: 1.3em;
    }
}
@media only screen and (max-width: 450px){
    .removeWrap {

    }
    .removeOption {
	font-size: .7em;   
    }
}



/*******Page Load Spin**********/
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('images/loader.gif') 50% 50% no-repeat rgb(249,249,249);
}